{%extends "dashboard.html"%}

<body>
{% block sidebar %}
    <ul>
    	<li>{{full_name}} {# is there a way to let the generic template access this full name?#}
    	<li><a href="/logout/">logout</a>
    	<li><a href="{% url 'loggedin' %}createMtn/">organize new meeting</a>
    	<li><a href="{% url 'loggedin' %}organized/">meetings you organized</a>
    	<li><a href="{% url 'loggedin' %}invited/">meetings you are invited to</a>
    </ul>
{% endblock %}

{% block content%}
<div id="scheduleUIwrapper">
  <div id="CalWrapper">
  <div id="container">
  <div id="lines_container"></div>
  <div id="col_1" class="calCol"></div>
  <div id="col_2" class="calCol"></div>
  <div id="col_3" class="calCol"></div>
  <div id="col_4" class="calCol"></div>
  <div id="col_5" class="calCol"></div>
  <div id="col_6" class="calCol"></div>
  <div id="col_7" class="calCol"></div>
  </div>
  </div><!--end of CalWrapper-->

<div id="dateWrapper">
{% for day in date %}
<h3 class="dateSpacer" id="dateSpacer_{{forloop.counter}}">{{ day }}</h3>
{% endfor %}<!--header-->
{% for day in datesForData %}
<h3 style="display:none;" id="datesForData_{{forloop.counter}}">{{ day|date:"SHORT_DATE_FORMAT" }}</h3>
{% endfor %}<!--header-->
</div><!--end of dateWrapper-->

<div id="clockWrapper">
{% for time in clock %}
 <h3 id ="clockTime">{{ time }}</h3><br/> 
{% endfor %}
</div><!--end of clockWrapper-->
</div><!--end of scheduleUIWrapper-->

<form action="{% url 'meetings:create' %}" method="POST">
{% csrf_token %}
	  <h2>Please type the name of your meeting</h2>
    <input type="textarea" name="meeting_name" />
    <h2>description</h2>
    <input type="textarea" name="meeting_description" />
    <h2>Please type the username of those you would like to invite</h2>
    <input type="textarea" name="invited_1" />
    <input type="textarea" name="invited_2" />
    <input type="textarea" name="invited_3" />
    <input type="textarea" name="invited_4" />
    <input type="textarea" name="invited_5" />

<!---->
	<br/>
	<input type="submit" value="nextStep" />
</form>

<!--JQEURY************************************************************************
**********************************************************************************-->
  <script type="text/javascript"> // visualize the Y grid
  var num=2.439024;
  for(var i=0; i<41; i++){  
  var k = num * i;
  $( "#col_1" ).before("<div class='lines' style='top:"+k+"%'></div>" );
  }
 // visualize the X grid
  var num_row=14.2857;
  for(var i=0; i<8; i++){  
  var k = num_row * i;
  var exist=$("#lines_container").html();
  $( "#lines_container" ).html(exist+"<div class='lines_row' style='left:"+k+"%'></div>" );
  }

  // visualize the even o'clock Y grid
  var num=2.439024;
  for(var i=0; i<41; i=i+4){  
  var k = num * i;
  $( "#col_1" ).before("<div class='bold_lines' style='top:"+k+"%'></div>" );
  }

//***********************************window-size********************************
  var GLOBAL = {};
  GLOBAL.userHeight=$(window).height();

//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7core&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
    var CalTopY = -45;
    var mouseY;
    var initY;
    var WIDTH = 13.6;
    var counter=0;
    var shortest_height = 2;
    // for inelastic time_slot
    var finalY;
    var gridY = new Array(); 
    var test;  
    var initTopPosition; // carry the top position data from 1st funtion to 2nd
    var message; // carry the message
    var messageTime;
    var messageDate;
  var left_mark = 0;
  var initX = new Array();
for(var i = 0; i < 41; i++){
    gridY[i] = 2.439024 * i; // generate the horizontal grid on the div
}
//generate the left attributes of avail_time slots for each one
for(var i=1; i <8;i++){
  left_mark=14.285714*(i-1);
  initX[i] = 0.4+left_mark*0.9999;
};
//Drag&Resize:
var dragResize=function(){
      $(".avail_time").draggable({ 
          cursor: 'move',
          axis: "y",
          snap:'.lines',
          snapTolerance: 30,
          snapMode:'inner',
          containment: '#container',
      });

      $(".avail_time").resizable({
          snap:'.lines',
          snapTolerance: 30,
          handles: 's',
          containment: '#container',        
      });
};
//different slot generators for seven lanes
var column_init = function(num){
$("#col_"+num).mousedown( function(e) {
   counter = counter+1;
   initY = CalTopY+(e.pageY-8)/10;  // % conversion 
   var nearestY= gridY[0];
  for(var h=0;h<41;h++){
      if(gridY[h+1]>initY){
        nearestY = gridY[h];
        break;
      } 
  }
  messageDate = $("#datesForData_"+num).html();
//$('#col_1').after("<div style='position: absolute; left: 200px; font-size:5em;'>"+initY+"</div>");
  initTopPosition = nearestY;
   $('#col_'+num).after("<div class='avail_time' id='slot_"+counter+"' style='top: "+nearestY+"%; left:"+initX[num]+"%; position:absolute; width:"+WIDTH+"%; ' ></div>");

   $("#slot_"+counter+"").html("<div style='display: none;'id='dataCarrier_date_"+counter+"'>"+messageDate+"</div><div id='dataCarrier_"+counter+"'></div><div class='avail_time_bottom' id='slot_"+counter+"_bottom' style='width:100%; position:absolute; background-color: red; height:5px; bottom: 0;' ></div>");
   
   dragResize();
}); 
};

column_init(7);
column_init(6);
column_init(5);
column_init(4);
column_init(3);
column_init(2);
column_init(1);

//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&xcontinue CORE&&&&&&&&&&&&&&7
$(document).mousemove( function(e) {

   mouseX = e.pageX; 
   mouseY = CalTopY+(e.pageY-8)/10;   //  % conversion
   //calculate the nearest benchmark
   var nearestY_new= gridY[0];
    for(var i=0;i<39;i++){
        if(gridY[i]>mouseY){
          nearestY_new = gridY[i];
            break;
        }   
    }
    //subtract the initial benchmark
    nearestY_new = nearestY_new - initTopPosition;  
// TEST--------------------$('#col_1').after("<div style='position: absolute; font-size:5em;'>"+nearestY+"</div>");
   $('#slot_'+counter+'').css({"height":""+nearestY_new+"%"})
});  


$(document).mouseup( function(e) {
    $('#slot_'+counter+'').attr("id","slot_"+counter+"_finalize");
 $("#col_2").before("<div>"+processData[1]+"</div>");
});     

//parse the selected begining time
var processMessageTime = function(messageTime){
if(messageTime <10){
  if(messageTime%2 === 0 ){
    messageTime = (messageTime/2) + 5;
    messageTime = "0" + messageTime + ":00";
  }
  else{
    messageTime = ((messageTime-1)/2) +5
    messageTime = "0" + messageTime + ":30"
  }
}
else {
  if(messageTime%2 === 0 ){
    messageTime = (messageTime/2) + 5;
    messageTime = messageTime + ":00";
  }
  else{
    messageTime = ((messageTime-1)/2) +5
    messageTime = messageTime + ":30"
  }
}
return messageTime;
}

var containerHeight = $("#container").height();
var processData = new Array();

$(document).mousemove( function(e) {
  for(var w=1; w < counter+1;w++){
    var topForData = parseInt($("#slot_"+w+"_finalize").css("top"));
    var bottomForData = $("#slot_"+w+"_finalize").height();
    bottomForData = processMessageTime(Math.round(((bottomForData + topForData)/containerHeight)/0.024378));
    topForData = processMessageTime(Math.round((topForData/containerHeight)/0.024378));
    $("#dataCarrier_"+w+"").html(""+topForData+"-"+bottomForData+"");


};
  for(var cc=1; cc < counter+1;cc++){
    processData[cc] = $("#dataCarrier_"+cc+"").html().replace(/[^\d.]/g, "") + $("#dataCarrier_date_"+cc+"").html().replace(/[^\d.]/g, "");
  };
});
//parse the date


//merge the messages

</script>

{%endblock%}
</body>