{%extends "loggedin.html"%}
{% load static %}
<body>

{% block content%}
<div id = "formWrapper">
<form action="{% url 'meetings:create' %}" method="POST">{% csrf_token %}
    <div id="formLocator1">
    <h3>Please type the name of your meeting</h3>
    <input type="textarea" name="meeting_name" />
    </div>
    <div id="formLocator2">
    <h3>description</h3>
    <input id="formDescription" type="textarea" name="meeting_description" />
    </div>
    <h3>Please type the username of those you would like to invite, separate by commas</h3>
    <input type="textarea" id="shareTextarea" name="share" />
    <input type="hidden" value="" id="dataStorage"name= "proposed">
<!---->
<br/>
  <label for='visibility'>Want others to see?</label>
  <input type='checkbox' value='True' name='visibility'/>
  <input type="submit" class="submit" value="submit" id="submit"/>
</form>
</div> <!--the end of formWrapper-->
<div id="scheduleUIwrapper">
<div id='scrollWindow'>
 
  <div id="CalWrapper">
 <div id="clockWrapper">
  {% for time in clock %}
  <h3 id ="clockTime">{{ time }}</h3><br/> 
  {% endfor %}
  </div><!--end of clockWrapper-->
  <div id="container">
  <div id="lines_container"></div>
  <div id="col_1" class="calCol"></div>
  <div id="col_2" class="calCol"></div>
  <div id="col_3" class="calCol"></div>
  <div id="col_4" class="calCol"></div>
  <div id="col_5" class="calCol"></div>
  <div id="col_6" class="calCol"></div>
  <div id="col_7" class="calCol"></div>
  </div>
  </div><!--end of CalWrapper-->
</div>
<div id="dateWrapper">
<a href='#' id='scopeLeft'>last</a>
{% for day in date %}
<h3 class="dateSpacer" id="dateSpacer_{{forloop.counter}}">{{ day }}</h3>
{% endfor %}<!--header-->
{% for day in datesForData %}
<h3 class="datesForData" id="datesForData_{{forloop.counter}}">{{ day|date:"SHORT_DATE_FORMAT" }}</h3>
{% endfor %}<!--header-->
<a href="#" id="scopeRight">next</a>
</div><!--end of dateWrapper-->


</div><!--end of scheduleUIWrapper-->



<!--JQEURY************************************************************************
**********************************************************************************-->
  <script type="text/javascript"> // visualize the Y grid
  var num=2.439024;
  for(var i=0; i<41; i++){  
  var k = num * i;
  $( "#col_1" ).before("<div class='lines' style='top:"+k+"%'></div>" );
  }
 // visualize the X grid
  var num_row=14.2857;
  for(var i=0; i<8; i++){  
  var k = num_row * i;
  var exist=$("#lines_container").html();
  $( "#lines_container" ).html(exist+"<div class='lines_row' style='left:"+k+"%'></div>" );
  }

  // visualize the even o'clock Y grid
  var num=2.439024;
  for(var i=0; i<41; i=i+4){  
  var k = num * i;
  $( "#col_1" ).before("<div class='bold_lines' style='top:"+k+"%'></div>" );
  }

//***********************************window-size********************************
  var GLOBAL = {};
  GLOBAL.userHeight=$(window).height();

//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7core&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
    var scope = 0;  
    var CalTopY_base =  -GLOBAL.userHeight/26.5;
    var mouseY;
    var initY;
    var WIDTH = 13.6;
    var counter=0;
    var shortest_height = 2;
    // for inelastic time_slot
    var finalY;
    var gridY = new Array(); 
    var test;  
    var initTopPosition; // carry the top position data from 1st funtion to 2nd
    var message; // carry the message
    var messageTime;
    var include = new Array();
    var messageDate;
  var left_mark = 0;
  var initX = new Array();
for(var i = 0; i < 41; i++){
    gridY[i] = 2.439024 * i; // generate the horizontal grid on the div
}
//generate the left attributes of avail_time slots for each one
for(var i=1; i <8;i++){
  left_mark=14.285714*(i-1);
  initX[i] = 0.4+left_mark*0.9999;
};
//set the default scroll value
$('#scrollWindow').scrollTop( 195 );
//set the new algorithm for scroll------ caltopY = base value(generated by user) + caltop Y updated when scrolling
var CalTopY_scroll = 195;
var CalTopY = CalTopY_scroll/10 + CalTopY_base;
$('#scrollWindow').scroll(function(){
  CalTopY_scroll = $('#scrollWindow').scrollTop();
  CalTopY = CalTopY_base + CalTopY_scroll/10;
});

//scope control
var dateModifier = function(a, b, c){ // a is the two digit string, b is the max date of the month
    var temp = parseInt(a) + c*7 - c*b;
    if ( temp < 0){
      return (temp + b).toString();
    }
    else if( temp > b){
      return temp - b;
    }
    else{
      return temp == 0? b: temp;
    }
};

var modifier = function(string, num){ 
    var dateModified = string.slice(3, 5);
    var date = string.slice(0, 2);
    var k = 0;
    var year = string.slice(-4);
    if(date == '02'){
        if(parseInt(string.slice(-4)) % 4 == 0){ 

            if(num == 1 && parseInt(dateModified) > 22){
                k = 1;
                dateModified = dateModifier(dateModified, 29, num);
            }
            else if(num == -1 && parseInt(dateModified) < 8){
              k = -1;
              dateModified = dateModifier(dateModified, 31, num); 
            }
            else{
        dateModified = dateModifier(dateModified, 30, num); 
          }
        } 
        else{
          if(num == 1 && parseInt(dateModified) > 21){
              k = 1;
              dateModified = dateModifier(dateModified, 28, num);
            }
            else if(num == -1 && parseInt(dateModified) < 8){
              k = -1;
                dateModified = dateModifier(dateModified, 31, num); 
            }
            else{
        dateModified = dateModifier(dateModified, 30, num); 
          }           
        }
    }
    else if(date == '04' || date == '06' || date == '09' || date == '11'){
        if(num==1 && parseInt(dateModified) > 23){
          k = 1;
        dateModified = dateModifier(dateModified, 30, num);
        }
        else if(num == -1 && parseInt(dateModified) < 8){
          k = -1;
        dateModified = dateModifier(dateModified, 31, num);
        }
        else{
        dateModified = dateModifier(dateModified, 30, num); 
        }

    }
    else if(date == '12'){
      if(num == 1 && parseInt(dateModified) > 24){
        k = -11;
        year = (parseInt(year) + 1).toString();
      dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
            k = -1;
        dateModified = dateModifier(dateModified, 30, num);     
        }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
      
    }
    else if(date == '01'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        k = 11;
        year = (parseInt(year) - 1).toString();
          dateModified = dateModifier(dateModified, 31, num);
      }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
    }
    else if(date == '08'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        k = -1;
        dateModified = dateModifier(dateModified, 31, num);
      }
      else{
        dateModified = dateModifier(dateModified, 31, num); 
        }

    }
    else if(date == '03'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        if(parseInt(string.slice(-4)) % 4 == 0){ 
      k = -1;
          dateModified = dateModifier(dateModified, 29, num);
          } 
        else{
      k = -1;
          dateModified = dateModifier(dateModified, 28, num);        
          }
      }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
    }        
    else{
        if(num == 1 && parseInt(dateModified) > 24){
          k = 1;
        dateModified = dateModifier(dateModified, 31, num);
        }
        else if(num == -1 && parseInt(dateModified) < 8){
          k = -1;
        dateModified = dateModifier(dateModified, 30, num);
        }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }

    }
    dateModified = dateModified.toString();
    if(dateModified.length < 2){
      dateModified = '0'.concat(dateModified);
    }
    date = (parseInt(date) + k).toString();
    if(date.length < 2){
      date = '0'.concat(date);
    }
    return date.concat('/', dateModified, '/', year);
};

var changeDatePositive = function(num){
    var string = $('#datesForData_'+num).html();
    $('#datesForData_'+num).html(modifier(string, 1));
}
var changeDateNegative = function(num){
    var string = $('#datesForData_'+num).html();
    $('#datesForData_'+num).html(modifier(string, -1)); 
}
$('#scopeRight').unbind().click(function(){
  changeDatePositive(1);
  changeDatePositive(2);
  changeDatePositive(3);
  changeDatePositive(4);
  changeDatePositive(5);
  changeDatePositive(6);
  changeDatePositive(7);
  $('.scope'+scope).fadeTo('fast', 0);
  $('.scope'+scope).css('display', 'none');
  scope = scope + 1;
  $('.scope'+scope).fadeTo('fast', 0.5);
  $('.scope'+scope).css('display', '');
});
$('#scopeLeft').unbind().click(function(){
  if(scope > 0){
  changeDateNegative(1);
  changeDateNegative(2);
  changeDateNegative(3);
  changeDateNegative(4);
  changeDateNegative(5);
  changeDateNegative(6);
  changeDateNegative(7);
  $('.scope'+scope).fadeTo('fast', 0);
  scope = scope - 1; 
  $('.scope'+scope).fadeTo('fast', 0.5);
  }
});

//Drag&Resize:
var dragResize=function(){
      $(".avail_time").draggable({ 
          cursor: 'move',
          axis: "y",
          snap:'.lines',
          snapTolerance: 30,
          snapMode:'inner',
          containment: '#container',
      });

      $(".avail_time").resizable({
          snap:'.lines',
          snapTolerance: 30,
          handles: 's',
          containment: '#container',        
      });
};

//different slot generators for seven lanes
var column_init = function(num){
$("#col_"+num).mousedown( function(e) {


   counter = counter+1;
   initY = CalTopY+(e.pageY-8)/10;  // % conversion 
   var nearestY= gridY[0];
  for(var h=0;h<41;h++){
      if(gridY[h+1]>initY){
        nearestY = gridY[h];
        break;
      } 
  }
  messageDate = $("#datesForData_"+num).html();
//$('#col_1').after("<div style='position: absolute; left: 200px; font-size:5em;'>"+initY+"</div>");
  initTopPosition = nearestY;
   $('#col_'+num).after("<div class='avail_time scope"+scope+"' id='slot_"+counter+"' style='top: "+nearestY+"%; left:"+initX[num]+"%; position:absolute; width:"+WIDTH+"%; ' ></div>");

   $("#slot_"+counter+"").html("<div style='display: none;'id='dataCarrier_date_"+counter+"'>"+messageDate+"</div><div style='display:none;'class='dataCarrier' id='dataCarrier_"+counter+"'></div><div class='avail_time_bottom' id='slot_"+counter+"_bottom' style='width:100%; position:absolute; background-color: red; height:5px; bottom: 0;' ></div>");
   
   dragResize();
}); 
};


column_init(7);
column_init(6);
column_init(5);
column_init(4);
column_init(3);
column_init(2);
column_init(1);

//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&xcontinue CORE&&&&&&&&&&&&&&7
$(document).mousemove( function(e) {

   mouseY = CalTopY + (e.pageY - 8)/10;   //  % conversion
   //calculate the nearest benchmark
   var nearestY_new = gridY[0];
    for(var i = 0; i < 39; i++){
        if(gridY[i] > mouseY){
          nearestY_new = gridY[i];
            break;
        }   
    }
    //subtract the initial benchmark
    nearestY_new = nearestY_new - initTopPosition;
//test
//$('#aaa').remove(); 
//$('#col_1').after("<div id = 'aaa'style='position: absolute; font-size:5em;'>"+nearestY_new+"</div>");
 
if(nearestY_new > 0){
  $('#slot_'+counter+'').css({"height":""+nearestY_new+"%"});
 }
 else{
  var nearestY_top = initTopPosition - 1 + nearestY_new;
  $('#slot_'+counter+'').css({"top":""+nearestY_top+"%"});
  $('#slot_'+counter+'').css({"height":""+ (2.4390 - nearestY_new) +"%"});
 }
});  


$(document).mouseup( function(e) {
    $('#slot_'+counter+'').attr("id","slot_"+counter+"_finalize");
//$("#col_2").before("<div>"+processData[1]+"</div>");
    $('#dataCarrier_'+counter+'').css("display","");
//1-3-2013   make sure that the slot exists and it does not exist in the array

    if($("#slot_"+counter+"_finalize").attr('id') == "slot_"+counter+"_finalize"&& jQuery.inArray(counter , include) === -1){
      include.push(counter);
    };
});     

//parse the selected begining time
var processMessageTime = function(messageTime){
if(messageTime <10){
  if(messageTime%2 === 0 ){
    messageTime = (messageTime/2) + 5;
    messageTime = "0" + messageTime + ":00";
  }
  else{
    messageTime = ((messageTime-1)/2) +5
    messageTime = "0" + messageTime + ":30"
  }
}
else {
  if(messageTime%2 === 0 ){
    messageTime = (messageTime/2) + 5;
    messageTime = messageTime + ":00";
  }
  else{
    messageTime = ((messageTime-1)/2) +5
    messageTime = messageTime + ":30"
  }
}

if(messageTime === "24:00"){
  messageTime = "0:00";};
if(messageTime === "24:30"){
  messageTime = "0:30";};
if(messageTime === "25:00"){
  messageTime = "1:00"};
return messageTime;
}
//data processing 
var containerHeight = parseInt($("#container").height());
var topForData, bottomForData, topForData2;
$(document).mousemove( function(e) {

  for(var w=0; w < include.length;w++){
    if($("#slot_"+include[w]+"_finalize").css("top").toString().slice(-1) != '%'){
    topForData = parseInt($("#slot_"+include[w]+"_finalize").css("top"));
    }
    bottomForData = $("#slot_"+include[w]+"_finalize").height();
    bottomForData = processMessageTime(Math.round(((bottomForData + topForData)/containerHeight)/0.024378));
    //$('#formDescription').val(topForData2+'----'+bottomForData);
    topForData2 = processMessageTime(Math.round((topForData/containerHeight)/0.024378));

    $("#dataCarrier_"+include[w]+"").html(""+topForData2+"-"+bottomForData+"<a class='trashcan' href='#'>&#215;</a>");
//$('#aaa').remove(); 
//$('#col_1').after("<div id = 'aaa'style='position: absolute; font-size:5em;'>"+topForData2+"|"+bottomForData+"</div>");
  };

$('.trashcan').unbind().click(function(){

      var zzz = $(this).parent().attr('id').replace(/[^\d.]/g,  "");
      zzz = parseInt(zzz);
      var index = jQuery.inArray(zzz, include);
      include.splice(index,1);
      $(this).parent().parent().remove();
  });
});
var processData = new Array();

$("#submit").click(function(e){
  for(var cc=0; cc < include.length; cc++){
// replace : and '' and get rid of the trashcan image symbol 12.31.2013
    processData[cc] = $("#dataCarrier_"+include[cc]+"").html().replace(/[^\d.]/g, "").slice(0, 8) + $("#dataCarrier_date_"+include[cc]+"").html().replace(/[^\d.]/g, "");
  };
  var proposed = "";
  for(var ccc=0; ccc < include.length; ccc++){
    proposed = proposed + processData[ccc];
  }; 
  $("#dataStorage").val(proposed);
});


//merge the messages

</script>

{%endblock%}
</body>