{%extends "dashboard.html"%}
{%block content%}
{% if list %} 
	<ul>
	{% for meeting in list %}
		<li>{{ meeting.name }}</li>
	{% endfor %}
{% else %}
	<p>No meeting is available.</p>
{% endif %}
{%endblock%}

{% block sidebar %}
    <ul>
    	<li>{{full_name}} {# is there a way to let the generic template access this full name?#}
    	<li><a href="/logout/">logout</a>
    	<li><a href="{% url 'loggedin' %}createMtn/">organize new meeting</a>
    	<li><a href="{% url 'loggedin' %}organized/">meetings you organized</a>
    	<li><a href="{% url 'loggedin' %}invited/">meetings you are invited to</a>
    </ul>
{% endblock %}