{%extends "loggedin.html"%}

{% block content%}
<div class="row pageTop">
  <div class="col-md-offset-2 col-md-8">
<div id = "wrapper" class="outline">
<div class="row">
  <h1 class="col-md-10">{{meeting.name}}</h1>
  <div class="col-md-2">
  <div class="row" style="margin-top:23px;">
   <form method="POST" action="update/">{% csrf_token %}<button class="btn btn-default" href='update/'>编辑</button></form><form method="POST" action="delete/">{% csrf_token %}   <button class="btn btn-warning" onclick ="return confirm('Are you sure to delete this meeting?')" value='' type='submit'>删除</button></form>
</div></div>
</div>
<div class="row">
  <div class="row rowMargin"><p><strong>创建时间</strong>：{{meeting.pub_date}}</p></div>
  <div class="row rowMargin"><p><strong>会议描述</strong>：{{meeting.description}}</p></div>
  <div class="row rowMargin"><p><strong>会议地点</strong>：{{meeting.location}}</p></div>
  <div class="row rowMargin"><h5><strong>回复情况</strong>：{{replyCondition}}&nbsp; <a href="#" onclick = "viewFullList()" > 查看完整邀请者名单 </a></h5></div>
  <br>

  {{ listOfEmail|safe }}
  <div class="table-responsive">

    {{ table|safe }}

  </div>
  <br>
  <h3>与受邀者分享这个链接:</h3>
  <h6>http://localhost:8000/loggedin/invited/{{ meeting.meeting_id }}/ </h6>

<!-- data processing -->
  {% for num in data %}
 	<div style="display:none;"id="data_{{forloop.counter}}">{{num}}</div>
  {%endfor%}
  {%for num in specificTimeDispaly%}
 	<div style="display:none;"id="specific_{{forloop.counter}}">{{num}}</div>
  {%endfor%}
  <div style="display:none;"id="lengthStorage">{{length}}</div>
  <div style="display:none;"id="resultStorage">{{meeting.result}}</div>

</div><!--end of wrapper-->
</div>
</div>
</div>
<!--JQEURY************************************************************************
**********************************************************************************-->
  <script type="text/javascript"> // visualize the Y grid
//***********************************window-size********************************
  var GLOBAL = {};
  GLOBAL.userHeight=$(window).height();
  var viewFullList = function(){
    if($("#viewFullList").css("display") == "none"){
    $("#viewFullList").fadeIn("fast");
    }
    else{
    $("#viewFullList").fadeOut("fast"); 
    }
  }



//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7core&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</script>
{%endblock%}