{%extends "loggedin.html"%}

{% block content%}
  <h1>{{meeting.name}}</h1>
  <a href='update/'>edit this meeting</a>
  <h3>organized by {{meeting.organizer}}</h3>
  <h4>{{meeting.pub_date}}</h4>
  <h4>{{meeting.description}}</h4>
  <h4>{{replyCondition}}&nbsp; <a href="#" onclick = "viewFullList()" > view full list</a></h4>
  <h3>link to share</h3>
  <h6>http://localhost:8000/loggedin/invited/{{ meeting.meeting_id }}/ </h6>
  <form method="POST" action="delete/">{% csrf_token %}<input onclick ="return confirm('Are you sure to delete this meeting?')" value='delete this mtn' type='submit'></input></form>
  {{ listOfEmail|safe }}
  {{ table|safe }}
  {% for num in data %}
 	<div style="display:none;"id="data_{{forloop.counter}}">{{num}}</div>
  {%endfor%}
  {%for num in specificTimeDispaly%}
 	<div style="display:none;"id="specific_{{forloop.counter}}">{{num}}</div>
  {%endfor%}
  <div style="display:none;"id="lengthStorage">{{length}}</div>
  <div style="display:none;"id="resultStorage">{{meeting.result}}</div>


<!--JQEURY************************************************************************
**********************************************************************************-->
  <script type="text/javascript"> // visualize the Y grid
//***********************************window-size********************************
  var GLOBAL = {};
  GLOBAL.userHeight=$(window).height();
  var viewFullList = function(){
    if($("#viewFullList").css("display") == "none"){
    $("#viewFullList").fadeIn("fast");
    }
    else{
    $("#viewFullList").fadeOut("fast"); 
    }
  }



//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7core&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
</script>
{%endblock%}