{%extends "loggedin.html"%}
{% load crispy_forms_tags %}

{% block sidebar%}
{% if guest == 'true' %}
<div class="row">
	<p class="col-md-offset-3"><br/><br/><br/><br/><br/>想组织自己的速议？<br/>行云流水般工作<br/>提高三倍执行力！<br/><br/><br/><br/><br/></p>
	<a class="col-md-offset-3" data-toggle="modal" href="#videoModal" >注册速议账号／登录</a>		
</div>
{% else %}
    

    <ul>
      <div class="row">
        <div class="col-md-6">
          <div style="color: #7080D7; font-size: 3.1em; margin-left: 10px;"><div class="glyphicon glyphicon-user"></div></div>
        </div>
        <div class="col-md-6">
          <div class="row" style="margin-top: -15px;">
            <li><h3><a href="/loggedin/">{{user|upper}}</a></h3>
          </div>
          <div class="row" style="margin-top: -10px;">
            <li><a style="margin-left:1px;"href="/logout/">登出</a>
          </div>
        </div>
      </div>
<br/>
<li class="nav-header">
    <a data-target="#userMenu" data-toggle="collapse" id="sideBarOrganized" href="#"><span class="caret"></span><span style="font-size: 1.2em;"> 我组织的会议</span></a>
  <ul class="collapse" id="userMenu">
{% if list_organized %} 
  {% for meeting in list_organized %}
    <li role="presentation" style="margin-left: 10px; margin-top:10px;" class="organizedMeetingList"><a tabindex="-1" role="menuitem" href="/loggedin/organized/{{meeting.meeting_id}}"><p>{{ meeting.name }}</p></a></li>
    <li class="divider"/>
  {% endfor %}
{% else %}
  <li role="presentation" style="margin-left: 20px; margin-top:10px;" class="invitedMeetingList"><a tabindex="-1" role="menuitem" ><p>没有会议</p></a></li>
  <li class="divider"/>
{% endif %}
  </ul>
</li>
<br/>
<li class="nav-header active">
  <a data-target="#radioDJMenu" data-toggle="collapse" id="sideBarInvited" href="#"><span class="caret"></span><span style="font-size: 1.2em;"> 被邀请的会议</span></a>
  <ul class="collapse in" id="radioDJMenu">
{% if list_invited %} 
  {% for meeting in list_invited %}
    <li role="presentation" style="margin-left: 10px; margin-top:10px;" class="invitedMeetingList"><a tabindex="-1" role="menuitem" href="/loggedin/invited/{{meeting.meeting_id}}"><p>{{ meeting.name }}</p></a></li>
    <li class="divider"/>
  {% endfor %}
{% else %}
  <li role="presentation" style="margin-left: 20px; margin-top:10px;" class="invitedMeetingList"><a tabindex="-1" role="menuitem" ><p>没有会议</p></a></li>
  <li class="divider"/>
{% endif %}
  </ul>
</li>
<br/>
      <li><a href="{% url 'loggedin' %}createMtn/"><button style="width: 90%;" class="btn btn-success">组织新的会议</button></a>

    </ul>
  <script type="text/javascript">
  $('[data-toggle=collapse]').click(function(){
  
    // toggle icon
    $(this).find("i").toggleClass("icon-angle-right icon-angle-down");
  
});


$('.collapse').on('show', function (e) {
  
    // hide open menus
    $('.collapse').each(function(){
      if ($(this).hasClass('in')) {
          $(this).collapse('toggle');
      }
    });
  
})
  </script>
  {% endif %}
{% endblock%} <!--Above is the sidebar of invited page-->

{% block content%}
<div class="modal fade" id="videoModal" style="display:none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">    
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="removeMargin">登录／注册</h4>
        </div>
        <div class="modal-body">
          <div class="row">
<div> <!-- registration form-->
{% for field in form %}
  {{field.error}}
{% endfor %}
<div class="col-md-6" style="border-right-style:solid; border-color: #DDD; border-width:2px;" >
<form action="/register/" method="POST">{% csrf_token %}
  {{form|crispy}}
  <input type='hidden' name = "currentPath" class = "currentPath"value=''/>
  <input type="submit" class="btn btn-success" style="width: 50%; margin-left: 25%;" value="注册" />
</form>
<div id="registerError">{{registerError}}</div>
</div>
<div class="col-md-6">
{% if form.errors %}
  <p class="error">不好意思，用户名或者密码不正确</p>
{% endif %}
<form action="/auth/" method="POST">{% csrf_token %}
<div class="form-group">
  <label for="username">用户名:</label>
  <input type="text" name="username" class="form-control" placeholder="用户名／邮箱" id="username">
</div>
<div class="form-group">
  <label for="password">密码:</label>
  <input type="password" name="password" class="form-control" placeholder="密码" id="password">
</div>
<div class="form-group">
  <button type="submit" class="btn btn-default" style="width: 50%; margin-left: 25%;">登录</button>
</div>
</form>
  <input type='hidden' name = "currentPath" class = "currentPath"value=''/>
<div id="loginError">{{loginError}}</div>
</div>
        </div>
          </div>

      </div>
    </div>
  </div>
</div>
<!--Invited answer Form-->
<div class="row">
  <div class="col-md-offset-1 col-md-7" style="margin-top: 8px;">
  <h2 class="removeMargin">{{meeting.name}}</h2>
  <p>{{meeting.description}}</p>
</div>
<div class="col-md-4">
  <h6>组织者：{{meeting.organizer}} 于{{meeting.pub_date}}创建</h6>
<form class="col-md-offset-5" method="POST" action="respond/">{% csrf_token %}
  {%for num in amountOfAvail%}
  <input style="display:none;"type="checkbox" name="selectedTime" id="dataCarrieravail_{{forloop.counter0}}" value="{{forloop.counter0}}">
  {%endfor%}
    <button class="btn btn-success" type="submit" id="submitData">回复这个会议</button>
    <button class="btn btn-success" data-toggle="modal" href="#videoModal" id="submitDataPop">回复这个会议</button>
</form>
</div>
</div>
  <h5>{{responded}}</h5>
  <h5>{{othersInvited}}</h5>
  {%for num in data%}
 	<div style="display:none;"id="data_{{forloop.counter}}">{{num}}</div>
  {%endfor%}
  {%for num in specificTimeDispaly%}
 	<div style="display:none;"id="specific_{{forloop.counter}}">{{num}}</div>
  {%endfor%} 
  <div style="display:none;"id="lengthStorage">{{length}}</div>
<div id="scheduleUIwrapperInvite">
<div id='scrollWindow'>
 
  <div id="CalWrapper">
 <div id="clockWrapper">
  {% for time in clock %}
  <h5 id ="clockTime">{{ time }}</h5><br/> 
  {% endfor %}
  </div><!--end of clockWrapper-->
  <div id="container">
  <div id="lines_container"></div>
  <div id="col_1" class="calCol"></div>
  <div id="col_2" class="calCol"></div>
  <div id="col_3" class="calCol"></div>
  <div id="col_4" class="calCol"></div>
  <div id="col_5" class="calCol"></div>
  <div id="col_6" class="calCol"></div>
  <div id="col_7" class="calCol"></div>
  </div>
  </div><!--end of CalWrapper-->
</div>
<div id="dateWrapper">
<a href='#' class="scopeSwitch"id='scopeLeft'>上周</a>
{% for day in date %}
<h5 class="dateSpacer text-center" id="dateSpacer_{{forloop.counter}}">{{ day }}</h5>
{% endfor %}<!--header-->
{% for day in datesForData %}
<h5 class="datesForData text-center" id="datesForData_{{forloop.counter}}">{{ day|date:"SHORT_DATE_FORMAT" }}</h5>
{% endfor %}<!--header-->
<a href="#" class="scopeSwitch" id="scopeRight">下周</a>
</div><!--end of dateWrapper-->

<input type="hidden" id="submitStatus" name="variable" value="{{ submit }}">

</div><!--end of scheduleUIWrapper-->
<script type="text/javascript">
var submitStatus = $("#submitStatus").val();
  if( submitStatus == 'True' ){
    $("#submitDataPop").hide();
  }
  else{
    $("#submitData").hide();
  }
  $("#hint_id_password2").hide();
  var currentPath = window.location.pathname; // for auth redirect
if(currentPath.slice(-11) == "registered/" || currentPath.slice(-11) == "registered"){
  $('#videoModal').modal('show'); 
}
</script>
<!--JQEURY************************************************************************
**********************************************************************************-->
  <script type="text/javascript"> // visualize the Y grid
var currentPath = window.location.pathname; // for auth redirect
$(".currentPath").val(currentPath);
  var num=2.439024;
  for(var i=0; i<41; i++){  
  var k = num * i;
  $( "#col_1" ).before("<div class='lines' style='top:"+k+"%'></div>" );
  }
 // visualize the X grid
  var num_row=14.2857;
  for(var i=0; i<8; i++){  
  var k = num_row * i;
  var exist=$("#lines_container").html();
  $( "#lines_container" ).html(exist+"<div class='lines_row' style='left:"+k+"%'></div>" );
  }

  // visualize the even o'clock Y grid
  var num=2.439024;
  for(var i=0; i<41; i=i+4){  
  var k = num * i;
  $( "#col_1" ).before("<div class='bold_lines' style='top:"+k+"%'></div>" );
  }

//***********************************window-size********************************
  var GLOBAL = {};
  GLOBAL.userHeight=$(window).height();

//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7core&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
	var scope = 0; 
    var CalTopY = -GLOBAL.userHeight/28;
    var mouseY;
    var initY;
    var WIDTH = 13.6;
    var counter=0;
    var shortest_height = 2;
    // for inelastic time_slot
    var finalY;
    var gridY = new Array(); 
    var test;  
    var initTopPosition; // carry the top position data from 1st funtion to 2nd
    var message; // carry the message
    var messageTime;
    var messageDate;
  var left_mark = 0;
  var initX = new Array();
//set the default scroll value
$('#scrollWindow').scrollTop( 167 );
for(var i = 0; i < 41; i++){
    gridY[i] = 2.439024 * i; // generate the horizontal grid on the div
}
var parseSeven = function(string){
  var result ='';
  var k = parseInt(string) % 7;
  if(k == 0){
    result = '7';
  }
  else{
    result = k.toString();
  }
  return result;
}
//generate the left attributes of avail_time slots for each one
for(var i=1; i <8;i++){
  left_mark=14.285714*(i-1);
  initX[i] = 0.4+left_mark*0.9999;
};
var data = new Array();
var specific = new Array();
var scopeStorage = new Array();
var length = parseInt($("#lengthStorage").html());
for(var ee =0; ee<length;ee++){
	data[0+3*ee] = $("#data_"+(1+3*ee)+"").html();
	data[1+3*ee] = $("#data_"+(2+3*ee)+"").html();
	data[1+3*ee] = parseInt(data[1+3*ee]) - parseInt(data[0+3*ee]);
  data[2+3*ee] = parseSeven($("#data_"+(3+3*ee)+"").html());
  scopeStorage[ee] = Math.floor(parseInt($("#data_"+(3+3*ee)+"").html())/7);
	specific[0+3*ee] = $("#specific_"+(1+3*ee)+"").html();
	specific[1+3*ee] = $("#specific_"+(2+3*ee)+"").html();
	specific[2+3*ee] = $("#specific_"+(3+3*ee)+"").html();
	var k = ee*3;
$("#container").after("<div class='avail_time scope"+scopeStorage[ee]+"' id='avail_"+ee+"' style='height:"+data[1+3*ee]*2.439024+"%; top: "+gridY[data[0+3*ee]]+"%; left:"+initX[data[2+3*ee]]+"%; position:absolute; width:"+WIDTH+"%; '></div>");

$('#avail_'+ee+'').html("<div class='dataCarrier' id='dataDisplayer_"+ee+"'>"+specific[k+0]+specific[k+1]+specific[k+2]+"</div>");

if(scopeStorage[ee] != 0 ){
  $("#avail_"+ee).hide(); 
  $("#scopeRight").addClass('greenWrap');
}
};

//scope control
var dateModifier = function(a, b, c){ // a is the two digit string, b is the max date of the month
    var temp = parseInt(a) + c*7 - c*b;
    if ( temp < 0){
      return (temp + b).toString();
    }
    else if( temp > b){
      return temp - b;
    }
    else{
      return temp == 0? b: temp;
    }
};

var modifier = function(string, num){ 
    var dateModified = string.slice(3, 5);
    var date = string.slice(0, 2);
    var k = 0;
    var year = string.slice(-4);
    if(date == '02'){
        if(parseInt(string.slice(-4)) % 4 == 0){ 

            if(num == 1 && parseInt(dateModified) > 22){
                k = 1;
                dateModified = dateModifier(dateModified, 29, num);
            }
            else if(num == -1 && parseInt(dateModified) < 8){
              k = -1;
              dateModified = dateModifier(dateModified, 31, num); 
            }
            else{
        dateModified = dateModifier(dateModified, 30, num); 
          }
        } 
        else{
          if(num == 1 && parseInt(dateModified) > 21){
              k = 1;
              dateModified = dateModifier(dateModified, 28, num);
            }
            else if(num == -1 && parseInt(dateModified) < 8){
              k = -1;
                dateModified = dateModifier(dateModified, 31, num); 
            }
            else{
        dateModified = dateModifier(dateModified, 30, num); 
          }           
        }
    }
    else if(date == '04' || date == '06' || date == '09' || date == '11'){
        if(num==1 && parseInt(dateModified) > 23){
          k = 1;
        dateModified = dateModifier(dateModified, 30, num);
        }
        else if(num == -1 && parseInt(dateModified) < 8){
          k = -1;
        dateModified = dateModifier(dateModified, 31, num);
        }
        else{
        dateModified = dateModifier(dateModified, 30, num); 
        }

    }
    else if(date == '12'){
      if(num == 1 && parseInt(dateModified) > 24){
        k = -11;
        year = (parseInt(year) + 1).toString();
      dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
            k = -1;
        dateModified = dateModifier(dateModified, 30, num);     
        }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
      
    }
    else if(date == '01'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        k = 11;
        year = (parseInt(year) - 1).toString();
          dateModified = dateModifier(dateModified, 31, num);
      }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
    }
    else if(date == '08'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        k = -1;
        dateModified = dateModifier(dateModified, 31, num);
      }
      else{
        dateModified = dateModifier(dateModified, 31, num); 
        }

    }
    else if(date == '03'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        if(parseInt(string.slice(-4)) % 4 == 0){ 
      k = -1;
          dateModified = dateModifier(dateModified, 29, num);
          } 
        else{
      k = -1;
          dateModified = dateModifier(dateModified, 28, num);        
          }
      }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
    }        
    else{
        if(num == 1 && parseInt(dateModified) > 24){
          k = 1;
        dateModified = dateModifier(dateModified, 31, num);
        }
        else if(num == -1 && parseInt(dateModified) < 8){
          k = -1;
        dateModified = dateModifier(dateModified, 30, num);
        }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }

    }
    dateModified = dateModified.toString();
    if(dateModified.length < 2){
      dateModified = '0'.concat(dateModified);
    }
    date = (parseInt(date) + k).toString();
    if(date.length < 2){
      date = '0'.concat(date);
    }
    return date.concat('/', dateModified, '/', year);
};

var changeDatePositive = function(num){
    var string = $('#datesForData_'+num).html();
    $('#datesForData_'+num).html(modifier(string, 1));
}
var changeDateNegative = function(num){
    var string = $('#datesForData_'+num).html();
    $('#datesForData_'+num).html(modifier(string, -1)); 
}
$('#scopeRight').unbind().click(function(){
  changeDatePositive(1);
  changeDatePositive(2);
  changeDatePositive(3);
  changeDatePositive(4);
  changeDatePositive(5);
  changeDatePositive(6);
  changeDatePositive(7);
  $('.scope'+scope).fadeOut('fast');
  scope = scope + 1;
  $('.scope'+scope).fadeIn('fast');
  if(scope == Math.max.apply(Math, scopeStorage)){
    $('#scopeRight').removeClass('greenWrap');
  }
});
$('#scopeLeft').unbind().click(function(){
  if(scope > 0){
  changeDateNegative(1);
  changeDateNegative(2);
  changeDateNegative(3);
  changeDateNegative(4);
  changeDateNegative(5);
  changeDateNegative(6);
  changeDateNegative(7);
  $('.scope'+scope).fadeOut('fast');
  scope = scope - 1; 
  $('.scope'+scope).fadeIn('fast');
  if(scope < Math.max.apply(Math, scopeStorage)){
    $('#scopeRight').addClass('greenWrap');
    }
  }
});
//hover effect
$(".avail_time").hover(
	function(){
		$(this).css('background-color','greenyellow');
	}, function(){
		$(this).css('background-color','lawngreen');
	}
);
//click effect + data processing
$('.avail_time').click(function(){
	var number = $(this).attr('id');
	if($("#dataCarrier"+number).attr('checked')==='checked'){
		$("#dataCarrier"+number).attr('checked',false);
		$(this).css('opacity', 0.5);
	}
	else{
		$("#dataCarrier"+number).attr('checked',true);
		$(this).css('opacity',0.9);
	};
});

</script>
{%endblock%}