{%extends "loggedin.html"%}
{% load static %}
<body>

{% block content%}
<!--DATA from Python-->
<div id ='lengthStorage'style="display:none;">{{length}}</div>
{%for num in data%}
  <div style="display:none;"id="data_{{forloop.counter}}">{{num}}</div>
  {%endfor%}
  {%for num in specificTimeDispaly%}
  <div style="display:none;"id="specific_{{forloop.counter}}">{{num}}</div>
  {%endfor%}


<div id="createPageFirst">
<form action="{% url 'meetings:update' meeting.meeting_id %}" method="POST">{% csrf_token %}
<div class="row">  
    <div class="form-group">
    <div class="col-md-6">
      <h5>会议名称：</h5>
      <input type="text" class="form-control" value="{{meeting.name}}"name="meeting_name" />
    </div>
  </div>
</div>
<div class="row">  
    <div class="form-group">
    <div class="col-md-6">
      <h5>会议描述：</h5>
      <input type="text" class="form-control" value="{{meeting.description}}" name="meeting_description" />
    </div>
  </div>
</div>
        

      <div class="row">    
      <div class="form-group">
              <div class="col-md-6">
    <label for="share">邀请：</label>
    <input type="textarea" placeholder="请输入你想要邀请的人的邮箱地址，用逗号区别" value="{{alreadyInvited}}"class="form-control" name="share" />
</div> </div></div>
    <input type="hidden" value="" id="dataStorage"name= "proposed">

<!---->
<br/>
<div class="row">
  <div class="col-md-6">
  <label for='visibility'>我不想要被邀请者看到其他被邀请者</label>
  <input type='checkbox' value='True' name='visibility'/>
  <button type="submit" class="btn btn-default pull-right" id="submit">更新这个会议</button>
  </div>
</div>
</form>
</div> <!--the end of formWrapper-->

<div id="createPageSecond">
<div id="scheduleUIwrapper">
<div id='scrollWindow'>
  <div id="CalWrapper">
 <div id="clockWrapper">
  {% for time in clock %}
  <h5 id ="clockTime">{{ time }}</h5><br/> 
  {% endfor %}
  </div><!--end of clockWrapper-->
  <div id="container">
  <div id="lines_container"></div>
  <div id="col_1" class="calCol"></div>
  <div id="col_2" class="calCol"></div>
  <div id="col_3" class="calCol"></div>
  <div id="col_4" class="calCol"></div>
  <div id="col_5" class="calCol"></div>
  <div id="col_6" class="calCol"></div>
  <div id="col_7" class="calCol"></div>
  </div>
  </div><!--end of CalWrapper-->
</div>
<div id="dateWrapper">
<a href='#' class="scopeSwitch"id='scopeLeft'>上周</a>
{% for day in date %}
<h5 class="dateSpacer text-center" id="dateSpacer_{{forloop.counter}}">{{ day }}</h5>
{% endfor %}<!--header-->
{% for day in datesForData %}
<h5 class="datesForData text-center" id="datesForData_{{forloop.counter}}">{{ day|date:"SHORT_DATE_FORMAT" }}</h5>
{% endfor %}<!--header-->
<a href="#" class="scopeSwitch" id="scopeRight">下周</a>
</div><!--end of dateWrapper-->
</div><!--end of scheduleUIWrapper-->
</div>



<!--JQEURY************************************************************************
**********************************************************************************-->
  <script type="text/javascript"> // visualize the Y grid
  var num=2.439024;
  for(var i=0; i<41; i++){  
  var k = num * i;
  $( "#col_1" ).before("<div class='lines' style='top:"+k+"%'></div>" );
  }
 // visualize the X grid
  var num_row=14.2857;
  for(var i=0; i<8; i++){  
  var k = num_row * i;
  var exist=$("#lines_container").html();
  $( "#lines_container" ).html(exist+"<div class='lines_row' style='left:"+k+"%'></div>" );
  }

  // visualize the even o'clock Y grid
  var num=2.439024;
  for(var i=0; i<41; i=i+4){  
  var k = num * i;
  $( "#col_1" ).before("<div class='bold_lines' style='top:"+k+"%'></div>" );
  }

//***********************************window-size********************************
  var GLOBAL = {};
  GLOBAL.userHeight=$(window).height();

//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&7core&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
    var scope = 0;  
    var CalTopY_base = 14.1 -GLOBAL.userHeight/26.5;
    var mouseY;
    var initY;
    var WIDTH = 13.6;
    var counter=0;
    var shortest_height = 2;
    // for inelastic time_slot
    var finalY;
    var gridY = new Array(); 
    var test;  
    var initTopPosition; // carry the top position data from 1st funtion to 2nd
    var message; // carry the message
    var messageTime;
    var include = new Array();
    var messageDate;
  var left_mark = 0;
  var initX = new Array();
for(var i = 0; i < 41; i++){
    gridY[i] = 2.439024 * i; // generate the horizontal grid on the div
}
//generate the left attributes of avail_time slots for each one
for(var i=1; i <8;i++){
  left_mark=14.285714*(i-1);
  initX[i] = 0.4+left_mark*0.9999;
};
//set the default scroll value
$('#scrollWindow').scrollTop( 195 );
//def parse scope function
var parseSeven = function(string){
  var result ='';
  var k = parseInt(string) % 7;
  if(k == 0){
    result = '7';
  }
  else{
    result = k.toString();
  }
  return result;
}

//set the new algorithm for scroll------ caltopY = base value(generated by user) + caltop Y updated when scrolling

$('#scrollWindow').scrollTop(167);
//set the new algorithm for scroll------ caltopY = base value(generated by user) + caltop Y updated when scrolling
var CalTopY_scroll = 167;
var CalTopY;
var freakingBugFixer = 0;
$('#scrollWindow').scroll(function(){
  if ($("#scrollWindow").scrollTop() === 0 && freakingBugFixer === 0){
    CalTopY = CalTopY_base + 167/8.7;
    freakingBugFixer = 1;
  }
  else{
    CalTopY = CalTopY_base + $("#scrollWindow").scrollTop()/8.7;    
  }
});
var data = new Array();
var specific = new Array();
var scopeStorage = new Array();
var length = parseInt($("#lengthStorage").html());
var dateModifier = function(a, b, c){ // a is the two digit string, b is the max date of the month
    var temp = parseInt(a) + c*7 - c*b;
    if ( temp < 0){
      return (temp + b).toString();
    }
    else if( temp > b){
      return temp - b;
    }
    else{
      return temp == 0? b: temp;
    }
};

var modifier = function(string, num){ 
    var dateModified = string.slice(3, 5);
    var date = string.slice(0, 2);
    var k = 0;
    var year = string.slice(-4);
    if(date == '02'){
        if(parseInt(string.slice(-4)) % 4 == 0){ 

            if(num == 1 && parseInt(dateModified) > 22){
                k = 1;
                dateModified = dateModifier(dateModified, 29, num);
            }
            else if(num == -1 && parseInt(dateModified) < 8){
              k = -1;
              dateModified = dateModifier(dateModified, 31, num); 
            }
            else{
        dateModified = dateModifier(dateModified, 30, num); 
          }
        } 
        else{
          if(num == 1 && parseInt(dateModified) > 21){
              k = 1;
              dateModified = dateModifier(dateModified, 28, num);
            }
            else if(num == -1 && parseInt(dateModified) < 8){
              k = -1;
                dateModified = dateModifier(dateModified, 31, num); 
            }
            else{
        dateModified = dateModifier(dateModified, 30, num); 
          }           
        }
    }
    else if(date == '04' || date == '06' || date == '09' || date == '11'){
        if(num==1 && parseInt(dateModified) > 23){
          k = 1;
        dateModified = dateModifier(dateModified, 30, num);
        }
        else if(num == -1 && parseInt(dateModified) < 8){
          k = -1;
        dateModified = dateModifier(dateModified, 31, num);
        }
        else{
        dateModified = dateModifier(dateModified, 30, num); 
        }

    }
    else if(date == '12'){
      if(num == 1 && parseInt(dateModified) > 24){
        k = -11;
        year = (parseInt(year) + 1).toString();
      dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
            k = -1;
        dateModified = dateModifier(dateModified, 30, num);     
        }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
      
    }
    else if(date == '01'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        k = 11;
        year = (parseInt(year) - 1).toString();
          dateModified = dateModifier(dateModified, 31, num);
      }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
    }
    else if(date == '08'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        k = -1;
        dateModified = dateModifier(dateModified, 31, num);
      }
      else{
        dateModified = dateModifier(dateModified, 31, num); 
        }

    }
    else if(date == '03'){
      if(num == 1 && parseInt(dateModified) >24){
        k = 1;
          dateModified = dateModifier(dateModified, 31, num);
      }
      else if(num == -1 && parseInt(dateModified) < 8){
        if(parseInt(string.slice(-4)) % 4 == 0){ 
      k = -1;
          dateModified = dateModifier(dateModified, 29, num);
          } 
        else{
      k = -1;
          dateModified = dateModifier(dateModified, 28, num);        
          }
      }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }
    }        
    else{
        if(num == 1 && parseInt(dateModified) > 24){
          k = 1;
        dateModified = dateModifier(dateModified, 31, num);
        }
        else if(num == -1 && parseInt(dateModified) < 8){
          k = -1;
        dateModified = dateModifier(dateModified, 30, num);
        }
        else{
        dateModified = dateModifier(dateModified, 31, num); 
        }

    }
    dateModified = dateModified.toString();
    if(dateModified.length < 2){
      dateModified = '0'.concat(dateModified);
    }
    date = (parseInt(date) + k).toString();
    if(date.length < 2){
      date = '0'.concat(date);
    }
    return date.concat('/', dateModified, '/', year);
};
var scopeModifier = function(string, num){
  for(var n = 0; n < num; n ++){
    string = modifier(string, 1);
  }
  return string;
}

var changeDatePositive = function(num){
    var string = $('#datesForData_'+num).html();
    $('#datesForData_'+num).html(modifier(string, 1));
}
var changeDateNegative = function(num){
    var string = $('#datesForData_'+num).html();
    $('#datesForData_'+num).html(modifier(string, -1)); 
}
for(var ee =0; ee<length;ee++){
  data[0+3*ee] = $("#data_"+(1+3*ee)+"").html();
  data[1+3*ee] = $("#data_"+(2+3*ee)+"").html();
  data[1+3*ee] = parseInt(data[1+3*ee]) - parseInt(data[0+3*ee]);
  data[2+3*ee] = parseSeven($("#data_"+(3+3*ee)+"").html());
  scopeStorage[ee] = Math.floor(parseInt($("#data_"+(3+3*ee)+"").html())/7);
  specific[0+3*ee] = $("#specific_"+(1+3*ee)+"").html();
  specific[1+3*ee] = $("#specific_"+(2+3*ee)+"").html();
  specific[2+3*ee] = $("#specific_"+(3+3*ee)+"").html();
var tempIndex = parseInt(data[2+3*ee]);
var ww =  ee + 1;
$("#col_"+tempIndex).after("<div class='avail_time scope"+scopeStorage[ee]+"' id='slot_"+ww+"_finalize' style='height:"+data[1+3*ee]*2.439024+"%; top: "+gridY[data[0+3*ee]]+"%; left:"+initX[data[2+3*ee]]+"%; position:absolute; width:"+WIDTH+"%; '></div>");

$('#slot_'+ww+'_finalize').html('<div style="display: none;" id="dataCarrier_date_'+ww+'">'+'</div>'+"<div class='dataCarrier' id='dataCarrier_"+ww+"'>"+specific[0+3*ee]+specific[1+3*ee]+specific[2+3*ee]+"</div>"+'<div class="avail_time_bottom" id="slot_'+ww+'_bottom" style="width:100%; position:absolute; background-color: red; height:5px; bottom: 0;"></div>');
$('#dataCarrier_date_'+ww).html( scopeModifier($('#datesForData_'+tempIndex).html(), scopeStorage[ee]));
$('#dataCarrier_'+ww).html("<a class='trashcan' href='#'>&#215;</a>");
counter = ww;
    if($("#slot_"+counter+"_finalize").attr('id') == "slot_"+counter+"_finalize"&& jQuery.inArray(counter , include) === -1){
      include.push(counter);
    };
if(scopeStorage[ee] != 0 ){
  $("#slot_"+ww+"_finalize").hide();
}

};

$('body').mousemove(function(){
  dragResize();
});
//scope control

$('#scopeRight').unbind().click(function(){
  changeDatePositive(1);
  changeDatePositive(2);
  changeDatePositive(3);
  changeDatePositive(4);
  changeDatePositive(5);
  changeDatePositive(6);
  changeDatePositive(7);
  $('.scope'+scope).fadeOut('fast');
  scope = scope + 1;
  $('.scope'+scope).fadeIn('fast');
});
$('#scopeLeft').unbind().click(function(){
  if(scope > 0){
  changeDateNegative(1);
  changeDateNegative(2);
  changeDateNegative(3);
  changeDateNegative(4);
  changeDateNegative(5);
  changeDateNegative(6);
  changeDateNegative(7);
  $('.scope'+scope).fadeOut('fast');
  scope = scope - 1; 
  $('.scope'+scope).fadeIn('fast');
  }
});
//Drag&Resize:
var dragResize=function(){
      $(".avail_time").draggable({ 
          cursor: 'move',
          axis: "y",
          snap:'.lines',
          snapTolerance: 30,
          snapMode:'inner',
          cancel:'.trashcan',
          containment: '#container',
      });

      $(".avail_time").resizable({
          snap:'.lines',
          snapTolerance: 30,
          handles: 's',
          containment: '#container',        
      });
};
//different slot generators for seven lanes
var column_init = function(num){
$("#col_"+num).mousedown( function(e) {


   counter = counter+1;
   initY = CalTopY+(e.pageY-8)/10;  // % conversion 
   var nearestY= gridY[0];
  for(var h=0;h<41;h++){
      if(gridY[h+1]>initY){
        nearestY = gridY[h];
        break;
      } 
  }
  messageDate = $("#datesForData_"+num).html();
//$('#col_1').after("<div style='position: absolute; left: 200px; font-size:5em;'>"+initY+"</div>");
  initTopPosition = nearestY;
   $('#col_'+num).after("<div class='avail_time scope"+scope+"' id='slot_"+counter+"' style='top: "+nearestY+"%; left:"+initX[num]+"%; position:absolute; width:"+WIDTH+"%; ' ></div>");

   $("#slot_"+counter+"").html("<div style='display: none;'id='dataCarrier_date_"+counter+"'>"+messageDate+"</div><div style='display:none;'class='dataCarrier' id='dataCarrier_"+counter+"'></div><div class='avail_time_bottom' id='slot_"+counter+"_bottom' style='width:100%; position:absolute; background-color: red; height:5px; bottom: 0;' ></div>");
   
   dragResize();
}); 
};


column_init(7);
column_init(6);
column_init(5);
column_init(4);
column_init(3);
column_init(2);
column_init(1);
//delete the current selection

//&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&xcontinue CORE&&&&&&&&&&&&&&7
$(document).mousemove( function(e) {

   mouseX = e.pageX; 
   mouseY = CalTopY+(e.pageY-8)/10;   //  % conversion
   //calculate the nearest benchmark
   var nearestY_new= gridY[0];
    for(var i=0;i<39;i++){
        if(gridY[i]>mouseY){
          nearestY_new = gridY[i];
            break;
        }   
    }
    //subtract the initial benchmark
    nearestY_new = nearestY_new - initTopPosition;
//test
//$('#aaa').remove(); 
//$('#col_1').after("<div id = 'aaa'style='position: absolute; font-size:5em;'>"+nearestY_new+"</div>");
 
if(nearestY_new > 0){
  $('#slot_'+counter+'').css({"height":"" + nearestY_new + "%"});
 }
 else{
  var nearestY_top = initTopPosition + nearestY_new;
  $('#slot_'+counter+'').css({"top":"" + nearestY_top + "%"});
  $('#slot_'+counter+'').css({"height":"" + (2.4390 - nearestY_new) + "%"});
 }
});  


$(document).mouseup( function(e) {
    $('#slot_'+counter+'').attr("id","slot_"+counter+"_finalize");
//$("#col_2").before("<div>"+processData[1]+"</div>");
    $('#dataCarrier_'+counter+'').css("display","");
//1-3-2013   make sure that the slot exists and it does not exist in the array
    if($("#slot_"+counter+"_finalize").attr('id') == "slot_"+counter+"_finalize"&& jQuery.inArray(counter , include) === -1){
      include.push(counter);
    };
});      

//parse the selected begining time
var processMessageTime = function(messageTime){
if(messageTime <10){
  if(messageTime%2 === 0 ){
    messageTime = (messageTime/2) + 5;
    messageTime = "0" + messageTime + ":00";
  }
  else{
    messageTime = ((messageTime-1)/2) +5
    messageTime = "0" + messageTime + ":30"
  }
}
else {
  if(messageTime%2 === 0 ){
    messageTime = (messageTime/2) + 5;
    messageTime = messageTime + ":00";
  }
  else{
    messageTime = ((messageTime-1)/2) +5
    messageTime = messageTime + ":30"
  }
}

if(messageTime === "24:00"){
  messageTime = "0:00";};
if(messageTime === "24:30"){
  messageTime = "0:30";};
if(messageTime === "25:00"){
  messageTime = "1:00"};
return messageTime;
}

var containerHeight = $("#container").height();
var processData = new Array();
var topForData, bottomForData, topForData2;
$(document).mousemove( function(e) {
  //$('#formDescription').val(include[0]+''+include[1]+''+include[2]+''+include[3]+''+include[4]+''+include[5]+''+include[6]+'');
  for(var w=0; w < include.length;w++){
    if($("#slot_"+include[w]+"_finalize").css("top").toString().slice(-1) != '%'){
    topForData = parseInt($("#slot_"+include[w]+"_finalize").css("top"));
    }
    bottomForData = $("#slot_"+include[w]+"_finalize").height();
    bottomForData = processMessageTime(Math.round(((bottomForData + topForData)/containerHeight)/0.024378));
    //$('#formDescription').val(topForData2+'----'+bottomForData);
    topForData2 = processMessageTime(Math.round((topForData/containerHeight)/0.024378));

    $("#dataCarrier_"+include[w]+"").html(""+topForData2+"-"+bottomForData+"<a class='trashcan' href='#'>&#215;</a>");

  };
//1-3-2014 unbind() stops multiple firing
$('.trashcan').unbind().click(function(){

      var zzz = $(this).parent().attr('id').replace(/[^\d.]/g,  "");
      zzz = parseInt(zzz);
      var index = jQuery.inArray(zzz, include);
      include.splice(index,1);
      $(this).parent().parent().remove();

});


});
// submit the data
var processData = new Array();

$("#submit").click(function(e){
  for(var cc=0; cc < include.length; cc++){
// replace : and '' and get rid of the trashcan image symbol 12.31.2013
    processData[cc] = $("#dataCarrier_"+include[cc]+"").html().replace(/[^\d.]/g, "").slice(0, 8) + $("#dataCarrier_date_"+include[cc]+"").html().replace(/[^\d.]/g, "");
  };
  var proposed = "";
  for(var ccc=0; ccc < include.length; ccc++){
    proposed = proposed + processData[ccc];
  }; 
  $("#dataStorage").val(proposed);
});


//merge the messages

</script>

{%endblock%}
</body>