/*GLOBAL SETTINGS*/
body{
    background-color: #eeeeee;
}
ul{
    list-style-type: none;
}
input{
    width: 16%;
    height: 25px;
    z-index: 199999;
    font-size: 12px;
}
.submit{
    width: 10%;
}
/*BASE TEMPLATE*/
#topBar{
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    z-index: 99999;
}
#sideBar{
    top: 6%;
    background-color: #eeeeee;
    position: relative;
    width: 16.8%;
    height: 100%;
    float: left;
}
#content{
    top: 6%;
    width: 82.5%;
    background-color: white;
    position: relative;
    height: 100%;
    float: right;
}