{% load static %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'meetings/css/scheduleUI.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'meetings/css/selection.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'meetings/css/baseTemplate.css' %}" />
  <link href="{% static 'meetings/css/ui-lightness/jquery-ui-1.10.3.custom.css' %}" rel="stylesheet">


  <script type="text/javascript" src="{% static 'meetings/js/jquery-2.0.2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'meetings/js/jquery-ui-1.10.3.custom.js' %}"></script>
  <script type='text/javascript' src="{% static 'meetings/js/jQuery-UI-Resizable-Snap-extension.js' %}"></script>
  <script type="text/javascript" src="{% static 'meetings/js/sideBar.js' %}"></script>
</head>
<body>
<div id="createAcctCover" onclick="removeAcct();"></div>
  <div id ="topBar">
    {%block topbar%}
    {%endblock%}
  </div>
  <div id ="sideBar">
    {%block sidebar%}
    {%endblock%}
  </div>
  <div id ="content">
    {%block content%}
    {%endblock%}
  </div>
</body>
</html>