{% extends "dashboard.html" %}

{% block sidebar %}
    <ul>
    	<li><a href="/loggedin/">{{user}}</a> {# is there a way to let the generic template access this full name?#}
    	<li><a id="sideBarOrganized" href="">meetings you organized</a>
{% if list_organized %} 
	{% for meeting in list_organized %}
		<li class="organizedMeetingList"><a href="/loggedin/organized/{{meeting.meeting_id}}">{{ meeting.name }}</a></li>
	{% endfor %}
{% else %}
	<p>No meeting is available.</p>
{% endif %}
    	<li><a id="sideBarInvited" href="">meetings you are invited to</a>
{% if list_invited %} 
	{% for meeting in list_invited %}
		<li class="invitedMeetingList"><a href="/loggedin/invited/{{meeting.meeting_id}}">{{ meeting.name }}</a></li>
	{% endfor %}
{% else %}
	<p>No meeting is available.</p>
{% endif %}
    	<li><a href="{% url 'loggedin' %}createMtn/">organize new meeting</a>
    	<li><a href="/logout/">logout</a>
    </ul>
{% endblock %}